apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ml-service
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: ml-service=harbor.yourdomain.com/eshelf/ml-service
    argocd-image-updater.argoproj.io/write-back-method: git
    argocd-image-updater.argoproj.io/git-branch: main
    argocd-image-updater.argoproj.io/write-back-target: kustomization
    argocd-image-updater.argoproj.io/kustomize-image-name: ml-service
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/votrung654/EShelf.git
    targetRevision: main
    path: infrastructure/kubernetes/overlays/dev
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

