# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log

# Ansible
*.retry
.vault_pass

# CloudFormation
.taskcat/

# Kubernetes
kubeconfig
*.kubeconfig

# Secrets
secrets/
*.pem
*.key

